/* same for all pages */
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background-color: rgb(252, 232, 204);
    text-align: center;
    color: #595959;
}

h1{
    padding: 10px;
    color: orange;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

p{
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #595959;
}


/* nav bar */


/* media queries */

.container-gallery{
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.item-gallery{
  flex-basis: 90%;
  order:2;
}

.item-gallery img{
  width: 90%;
  height: 40%;
  flex-grow: 4;
}



/* same for all pages */
/* media queries - mobile first */

/* media queries - small desktop */
@media (min-width: 600px){
  .container-gallery{
      flex-flow: row wrap;
      flex-basis: 70%
  }

  .item-gallery{
      flex-flow: row wrap;
      flex-basis: 70%
  }
}

/* media queries - large desktop */
@media (min-width: 800px){
  .container-gallery{
      flex-flow: row wrap;
      flex-basis: 80%
  }

  .item-gallery{
      flex-flow: row wrap;
      flex-basis: 80%
  }
}


