/* same for all pages */
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background-color: rgb(252, 232, 204);
    text-align: center;
    color: #595959;
}

h1{
    padding: 10px;
    color: orange;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

p{
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #595959;
}

h2{
    font-family: 'Poppins', sans-serif;
    color: purple;
    font-size: 18px;
}

/* classes */ 
.member-name{
    font-family: 'Poppins', sans-serif;
    color: rgb(66, 0, 128);
    /* rgb(158, 95, 218) */
    font-size: 18px;
}

/* flex boxes */
.container-member{
    display: flex; 
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.item-member{
    flex-basis: 90%;
}

.item-member img{
    width: 90%;
    height: 40%;
    flex-grow: 4;
}



/* same for all pages */
/* media queries - mobile first */

/* media queries - small desktop */
@media (min-width: 600px){
    .container, .container-member{
        flex-flow: row wrap;
        flex-basis: 70%
    }
  
    .item, .item-member{
        flex-flow: row wrap;
        flex-basis: 70%
    }
  }
  
  /* media queries - large desktop */
  @media (min-width: 800px){
    .container, .container-member{
        flex-flow: row wrap;
        flex-basis: 80%
    }
  
    .item, .item-member{
        flex-flow: row wrap;
        flex-basis: 80%
    }
  }
  
  
  